html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {
    --primary: #212645;
    --secondary: #f0f0f6;
    --final: #d24f0f;

}

@font-face {
    font-family: "RobotoThin";
    src: url("Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoLight";
    src: url("Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoRegular";
    src: url("Roboto-Regular.ttf") format("truetype");
}



body {
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary);
    display: grid;
    grid-template-rows: 2fr 6fr 2fr;
    grid-template-columns: 3fr 4fr 3fr;

}

/* Form */
.form {
    background-color: var(--secondary);
    font-family: "RobotoLight", sans-serif;
    border: 1px solid var(--primary);
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 3fr;
    border-radius: 1%;
}

/* Inputs */
.inputBox {
    font-family: inherit;
    font-size: 1.5rem;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: var(--primary);
    grid-column: 2/3;
    height: 3rem;
    width: 15rem;
    padding: 0.5rem;
}

.inputBox:focus {
    border-radius: none;
    border: 2px solid var(--primary);
    outline: 0;
}

option {
    background: var(--secondary) !important;
    color: var(--primary);
}

select.inputBox {
    appearance: none;
    height: 66px;
    width: 258px;
    background: transparent;
    background-image: url(arrow_drop_down_FILL0_wght400_GRAD0_opsz48.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    cursor: pointer;

}

.inputContainer {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

#emailContainer {
    grid-row: 2/3;
}

#country {
    grid-row: 3/4;
}

#zipContainer {
    grid-row: 4/5;
}

#passContainer {
    grid-row: 5/6;
}

.inputBox::placeholder {
    color: var(--primary);
}

/* input:invalid {
    border-color: var(--final);
} */

/* input:focus:invalid {
    outline: none;
} */

.error {
    width: 100%;
    padding: 0;
    font-size: 1rem;
    color: var(--secondary);
    background-color: var(--final);
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

#emailError {
    grid-row: 2/3;
    grid-column: 2/3;
}

#zipError {
    grid-row: 2/3;
    grid-column: 4/5;
}

#passError {
    grid-row: 2/3;
    grid-column: 5/6;
}

/* Subscribe Btn */
.subscribeBtn {
    font-family: inherit;
    background-color: var(--final);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    padding: 0;
    cursor: pointer;
    width: 12rem;
    height: 4rem;
    grid-row: 6/7;
    grid-column: 2/3;
    font-size: 1.7rem;
    border-radius: 1%;
}